.idea/
*.npy
*.local
checkpoints/
figures/
text/
*.tsv
*.pdf
*.bin
*.pickle
*.odt
*.sh
*.xml
*.tsv
model/
model_1/
model_2/
model_2_test/
model_test/
model_vector/
ETS_Corpus_of_Non-Native_Written_English/
